{erl_opts, [{parse_transform,lager_transform}]}.
{erl_opts, [debug_info]}.
{deps, [

  {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "1.0.1"}}},% alternatively, source

  {erlang_protobuffs, {git, "https://github.com/basho/erlang_protobuffs.git",{ref,"0dde9d3b37b7bec3a4dfb0e87684dd7039e169ab"}}},% alternatively, source

  {mysql_otp,{git, "https://github.com/mysql-otp/mysql-otp.git", {tag, "1.2.0"}}}, % alternatively, source
 % {esockd,{git, "https://github.com/emqtt/esockd.git",{branch,"master"}}}, % alternatively, source
  {ranch,{git,"https://github.com/ninenines/ranch",{branch,"master"}}},
  {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}}
]}.

{src_dirs, ["src"]}.

{lager, [
  {log_root, "/var/log"},
  {handlers, [
    {lager_console_backend, info},
    {lager_file_backend, [{file, "error.log"}, {level, error}]},
    {lager_file_backend, [{file, "console.log"}, {level, info}]}
  ]}
]}.